
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Navbar styles */
body {
  margin: 0;
  font-family: 'Bangers', cursive, sans-serif;
  background-color: #fdf6e3;;
}
.navbar {
      background-color: #0c2340;
      overflow: hidden;
      border-bottom: 5px solid orange
    }
    .navbar a {
      float: left;
      display: block;
      color: orange;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 50px;
      transition: background-color 0.3s, color 0.3;

    }
    .navbar a:hover {
      background-color: orange;
      color: #0c2340;
    }
    .content {
      padding: 20px;
      text-align: center;
    }
    h1 {
      color: #ff0202;
      font-size: 3em;
    }
.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 10px auto;
}
